<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
  
  <resultMap type="Member" id="memberResultSet">
  	<id property="id" column="ID"/>
  	<result property="pwd" column="PWD"/>
 	<result property="name" column="NAME"/>
  	<result property="email" column="EMAIL"/>
  	<result property="gender" column="GENDER"/>
  	<result property="age" column="AGE"/>
  	<result property="phone" column="PHONE"/>
  	<result property="address" column="ADDRESS"/>
  	<result property="enrollDate" column="ENROLL_DATE"/>
  	<result property="updateDate" column="UPDATE_DATE"/>
  	<result property="mStatus" column="M_STATUS"/>
  	
  </resultMap>
  
  <select id="selectOne" parameterType="Member" resultMap="memberResultSet">
  	<!-- 암호화 전 -->
  <!--  	select *
  	from member
  	where id=#{id} and pwd=#{pwd} and m_status='Y'
  	-->
  	
  	<!-- 암호화 후 -->
  	select *
  	from member
  	where id=#{id} and m_status='Y'
  </select>
  
  
  <insert id="insertMember" parameterType="Member">
  	insert into member
  	values(#{id}, #{pwd}, #{name}, #{email}, #{gender}, #{age}, #{phone}, #{address},SYSDATE,SYSDATE,default)
  </insert>
  
  
  <update id="updateMember" parameterType="Member">
	update  member set name=#{name}, email=#{email}, gender=#{gender}, age=#{age}, phone=#{phone}, address=#{address}, UPDATE_DATE = SYSDATE  where id=#{id}
  </update>
  
  <update id="updatePwd" parameterType="Member">
  	update member set pwd=#{pwd} where id=#{id}
  </update>
  
  <update id="deleteMember" parameterType="string">
  	update member set M_STATUS='N' where id=#{id}
  </update>
  
  <select id="idcheck" parameterType="string" resultType="_int">
  	select count(*)
  	from member
  	where id=#{id}
  </select>
  
  
</mapper>
